.navbar {
  .navbar {
    .navbar-line {
      width: 100%;
      height: 1px;
      background-color: #ddd;
      border: none;
      margin: 10px 0;
    }
  }

  height: 100px;
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: auto;

  .wrapper {
    max-width: 1361px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;

    span {
      font-weight: bold;
      color: white;
    }

    .buttons {
      display: flex;
      gap: 5px;

      a {
        text-decoration: none;
        color: white;
        padding-bottom: 10px;
        padding-left: 30px;
        border-radius: 5px;
        font-weight: bold;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 5px;
          width: calc(100% - 20px);
          height: 2px;
          background-color: white;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
          margin-left: 25px;
          padding-bottom: 2px;
        }

        &:hover::after {
          transform: scaleX(1);
          margin-left: 25px;
          padding-bottom: 2px;
        }

        &.linkedinButton {
          background-color: transparent;
          color: white;
          font-weight: bold;
          font-size: 20px;
        }

        &.resumeButton {
          background-color: transparent;
          color: white;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}
